<thead class="text-center" th:fragment="table_header">
<tr>
    <th scope="col">
        <a th:href="@{'?sort=dayOfSession&sort=timeStart&sortDir=' + ${revSortDir}}"
           th:text="#{date}"></a></th>
    <th scope="col"><a href="#" th:text="#{weekday}"/></th>
    <th scope="col"><a th:href="@{'?sort=timeStart&sortDir=' + ${revSortDir}}" th:text="#{time.start}"/></th>
    <th scope="col"><a href="#" th:text="#{movie.title}"></a></th>
    <th scope="col"><a th:href="@{'?sort=seatsAvail&sortDir=' + ${revSortDir}}" th:text="#{free.seats}"></a></th>
</tr>
</thead>
